*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#0f172a;
    color:white;
    line-height:1.6;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#111827;
    position:sticky;
    top:0;
}

.logo{
    font-size:22px;
    font-weight:bold;
    color:#22d3ee;
}

nav a{
    margin-left:25px;
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav a:hover{
    color:#22d3ee;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    background:linear-gradient(135deg,#0f172a,#1e293b);
}

.hero-content h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero-content span{
    color:#22d3ee;
}

.hero-content p{
    max-width:700px;
    margin:auto;
    margin-bottom:30px;
    opacity:0.85;
}

.btn{
    padding:12px 28px;
    background:#22d3ee;
    border:none;
    border-radius:30px;
    color:black;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    background:#06b6d4;
}

.section{
    padding:80px 60px;
    text-align:center;
}

.section h2{
    font-size:38px;
    margin-bottom:40px;
    color:#22d3ee;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:#1e293b;
    padding:30px;
    border-radius:20px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    background:#334155;
}

.dark{
    background:#1e293b;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
    font-size:14px;
    opacity:0.7;
}
.hero-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:50px;
    max-width:1200px;
    width:100%;
}

.hero-text{
    flex:1;
}

.hero-image{
    flex:1;
    display:flex;
    justify-content:center;
}
.hero-image img{
    width: 350px;
    border-radius:20px;
}

.product-showcase{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.product-showcase img{
    width:300px;
    border-radius:20px;
    transition:0.4s;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}